html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style-type: none;
}

body {
    height: 100%;
    color: white;
    background-color: #4a349b;
    -webkit-font-smoothing: antialiased;
}

a {
    color: white;
}
a:hover {
    color:white;
}
a:visited {
    color:white;
}
a:-webkit-any-link {
    text-decoration:none;
}

@font-face {
    font-family: Avenir;
    src: url(font/Avenir.ttc);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(font/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url(font/Roboto-LightItalic.ttf);
}

#testa, #info, #programma, #iscrizione, #powered, #sponsor, #aziende, #sponstech {
    padding:2rem;
}

#testa {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    margin-top: 5rem;
}

#testa img {
    width: 100%;
    height: 100%;
}

#info {
    padding-top: 80px;
}
#iscrizione {
    padding-top: 85px;
}

/* CSS W3 */
.topnav {
    overflow: hidden;
    background-color: #4a349b;
    /* CSS per fissare menu in alto */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    font-family: Avenir;
  }
  
  .topnav a {
    float: none;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 1.3vw;
  }



  
  .topnav a:hover {
    background-color: white; 
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

/* CSS W3 */

.btn {
    background-color: #44cca8;
    font-size: 1.5vw;
}

.grassetto {
    font-family: Roboto-Bold;
}

.home, .info{
    border-right: 1px solid white;
}

/* Classe per bottone*/
.regi {
    background-color: #44cca8;
    border:none;
    cursor: pointer;
}
.regi2 {
    background-color: #44cca8;
    border:none;
    cursor: pointer;
    font-size: 1.7vw;
    transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
}

.jetl {
    border-right: 1px solid white;
}

.titolo {
    font-family: Roboto-Bold;
    font-size: 2vw;
}

.testo {
    font-family: Roboto-Light;
    font-size: 1.25vw;
}


.titolop2 {
    font-family:Roboto-Bold;
    font-size: 1.1vw;
}

.date {
    font-family: Roboto-Bold;
    font-size: 2.1vw;
    /* font-weight: 1000; */
}
.per {
    font-family: Roboto-LightItalic;
    font-size: 0.8vw;
    font-style: italic;
}

.trat1 {
    margin-top:0;
    color: #e20139;
    font-size: 3vw;
}
.trat2 {
    color: #e20139;
    font-size: 2vw;
}

.linea{
    border-bottom:1px solid white;
    max-width:27vw;
}

.linea2 {
    border-bottom: 0.45vw solid #e20139;  
    max-width: 5.5vw; 
    padding-top:0.5rem;
}

.prg {
    padding-top:1rem;
    padding-bottom:1rem;
}

/* MONITOR 4K */

@media only screen and (max-width: 2560px){
    .testo {
        font-size: 1.00vw;
    }
    .titolo {
        font-size: 1.35vw;       
    }
    .date {
        font-size: 1.4vw;
    }
    .trat2 {
        font-size: 1.0.vw;
    }
    .per {
        font-size: 0.6vw;
    }
    .titolop2 {
        font-size: 0.85vw;
    }
    .regi2 {
        font-size:1.8vw;
    }
    .topnav a {
        font-size:1.4vw;
    }

}

@media only screen and (max-width: 1920px) {

     .testo {
        font-size: 1.23vw;
    }
    .titolo {
        font-size: 1.55vw;       
    }
    .date {
        font-size: 1.65vw;
    }
    .trat2 {
        font-size: 1.0.vw;
    }
    .per {
        font-size: 0.9vw;
    }
    .titolop2 {
        font-size: 1.2vw;
    }
    .regi2 {
        font-size:2.6vw;
    }
    .topnav a {
        font-size:1.6vw;
    }

}




@media only screen and (max-width: 1500px){
    .testo {
        font-size: 1.75vw;
    }
    .titolo {
        font-size: 2.3vw;       
    }
    .date {
        font-size: 2.4vw;
    }
    .trat2 {
        font-size: 2.4vw;
    }
    .per {
        font-size: 1.099vw;
    }
    .titolop2 {
        font-size: 1.50vw;
    }
    .regi2 {
        font-size:3.9vw;
    }
    .topnav a {
        font-size:2.2vw;
    }

}
/* LAPTOP 1200 */

@media only screen and (max-width: 1200px) {
    .testo {
        font-size: 1.9vw;
    }
    .titolo {
        font-size: 2.3vw;       
    }
    .date {
        font-size: 2.99vw;
    }
    .trat2 {
        font-size: 1.25vw;
    }
    .per {
        font-size: 1.2vw;
    }
    .titolop2 {
        font-size: 1.9vw;
    }
    .regi2 {
        font-size:3.0vw;
    }
    .topnav a {
        font-size:2.2vw;
    }

}

/* LAPTOP 1024 */
@media only screen and (max-width: 1024px) {
    .testo {
        font-size: 1.9vw;
    }
    .titolo {
        font-size: 2.3vw;       
    }
    .date {
        font-size: 2.6vw;
    }
    .trat2 {
        font-size: 2.4vw;
    }
    .per {
        font-size: 1.3vw;
    }
    .titolop2 {
        font-size: 1.60vw;
    }
    .regi2 {
        font-size:3.8vw;
    }
    .topnav a {
        font-size:2.3vw;
    }
}

@media only screen and (min-width: 768px) {
    .topnav {
        text-align:center;
        float:none;
    }
}

/* TABLET */
@media only screen and (max-width: 768px) {
    .testo {
        font-size: 1.9vw;
    }
    .titolo {
        font-size: 2.1vw;       
    }
    .date {
        font-size: 2.5vw;
    }
    .trat2 {
        font-size: 2.4vw;
    }
    .per {
        font-size: 1.2vw;
    }
    .titolop2 {
        font-size: 1.9vw;
    }
    .regi2 {
        font-size:2.99vw;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {position: fixed;}       
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a {
        font-size:2.1vw;
    }

}

/* MOBILE*/
@media screen and (max-width: 736px) {
    .testo {
        font-size: 4.21vw;
    }
    .titolo {
        font-size: 5.1vw;       
    }
    .date {
        font-size: 5.5vw;
    }
    .trat2 {
        font-size: 7vw;
    }
    .per {
        font-size: 3.5vw;
    }
    .titolop2 {
        font-size: 4vw;
    }
    .regi2 {
        font-size:6vw;
    }
    .imga {
        display:none;
    }
    .linea2 {
    border-bottom: 0.95vw solid #e20139;  
    max-width: 14.65vw; 
    }
    .topnav a {
        font-size:4.9vw;
    }
}

